/* Header, nav and global*/
body {
    font-family: Helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f7f4f3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    padding: 0 1.5rem;
    list-style-type: none;
    border-right: 1px solid #040f16;
    font-size: 25px;
}

nav ul li a {
    text-decoration: none;
}

.header_img {
    width: 50px;
}

#main_logo {
    width: 100px;
}

#pfp {
    border-right: none;
}

.post_pfp {
    width: 32px;
}

/*Home screen (index)*/

h1 {
    text-align: center;
    font-size: 50px;
}

#welcome_home {
    text-align: center;
    font-size: 25px;
}

.home_text {
    margin-bottom: 60px;
}

.below_post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: 20px;
}

.home_screen_post_img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.home_post {
    border: 2px solid #809848;
    padding: 10px;
    margin: 40px;
    border-radius: 10px; 
}

/*Focus Post*/

.focus_post {
    padding-top: 40px;
}

.image_and_back {
    display: flex;
    padding-right: 23px;
}

.back_button {
    width: 50px;
    padding-right: 10px;
}

.post_image {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.back_link {
    text-decoration: none;
}

.back_text {
    padding-left: 4px;
}

.below_focus_post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0; 
    background-color: #f7f4f3; 
}

.rate_and_pfp {
    display: flex;
    align-items: center;
}

.post_title {
    padding-left: 60px;
}

.rate_and_pfp {
    padding-right: 20px;
}

.post_pfp_post_page {
    width: 40px;
    padding-left: 20px;
}

.rate_text {
    background-color: #5c80bc;
    padding: 7px 30px;
    border-radius: 10px;
}

.writing_and_tags {
    display: flex;
}

.writing {
    padding-left: 60px;
    padding-right: 100px;
}

.tags {
    padding-right: 20px;
    color: #da4167;
}

.post_title {
    font-size: 35px;
    padding-right: 20px;
}

/*User Profile Page*/

#user_profile_pic_user_profile_page {
    width: 300px;
    padding-top: 15px;
}

.user_profile_info {
    display: flex;
    justify-content: center;
    gap: 150px;
}

#featured_image_user_profile {
    border: 2px solid #809848;
    border-radius: 10px;
    padding: 10px;
}

#text_user_profile_page {
    margin-left: 20px;
}

.user_profile_featured {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

/*Responsive design*/

@media screen and (min-width: 1400px){
    .home_posts {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 1399px){
    .home_posts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    #user_profile_pic_user_profile_page {
        width: 150px;
    }
    .user_profile_info {
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 500px){
    header {
        flex-direction: column;
        border-bottom: 1px solid #809848;
    }

    nav {
        padding-right: 30px;
    }

    nav ul {
        padding-top: 15px;
    }

    .back_button {
        width: 25px;
    }

    .back_text {
        font-size: 10px;
        padding-right: 4px;
    }
}

/*Relative link styling*/

a:link {
    color: #040f16;
}

a:active {
    color: #5c80bc;
}

a:visited {
    color: #040f16;
}